.listings-rows .row:not(:first-child) {
  margin-top: 10px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 10px;
}

@media screen and (max-width: 760px) {
  .listings-rows .row:not(:first-child) {
    margin-top: 0
  }

  .row [class^="col"] {
    margin-top: 10px;
  }
  .listings .heading{
    padding-left: 10px;
    padding-top: 10px
  }
  .no-listings{
    padding-left: 10px;
  }

  .grid{
    grid-template-columns: auto;
  }
  .search{
    width: 100% !important;
    margin-left: 0;
  }
  .search input{
    padding-left: 10px;
  }
}

.search{
  width: 30%;
  margin-left: auto;
}
.search input{
  border: none;
  border-bottom: 1px solid #cccc;
  outline: none;
  height: 50px;
  width: 100%;
}

.btn-new-listing{
  background-color: white;
  border: none;
  font-size: 2em;
  color:grey;
}
.btn-new-listing:hover{
  color:  #1e88e5;;
}