<div *ngIf="loading$ | async">
  Fetching listings please wait ...
</div>

<div class="listings" *ngIf="label$ | async as label">
  <h3 class="text-muted heading">{{label.name}}</h3>
  <div *ngIf="listings$ | async as listings else noLabelsFound" class="listings-rows">
    <div class="grid">
      <div class="grid-column" *ngFor="let listing of listings">
        <app-listing [listing]="listing"></app-listing>
      </div>
    </div>
  </div>
</div>
<ng-template #noLabelsFound>
  <div class="text-muted no-listings">
    No Listings found
  </div>
</ng-template>