.container {
  width: 30%;
}

.errors {
  display: flex;
  flex-direction: column;
}

.loader {
  font-size: 1.4em;
  letter-spacing: 2px;
  color: grey;
}

.form-group:not(.form-group:first-child) {
  margin-top: 10px;
}

@media screen and (max-width: 760px) {
  .container {
    width: 100%;
  }

  .form-group a {
    text-decoration: none;
  }
}

.welcome-note {
  height: 100vh;
  background-color: #1e88e5;
  padding: 0;
}

.welcome-note h1 {
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 760px) {
  .welcome-note h1 {
    font-size: 2em;
  }
  .welcome-note .final-text {
    font-size: 1em;
    font-weight: bold;
  }
  .welcome-note .instructions{
    font-size: 1em;
  }
  .welcome-note{
    display: none;
  }
}

.instructions {
  font-size: 1.5em;
  width: 100%;
  margin: 0;
  background-color: red;
}

.instructions .list-group,
.instructions .list-group-item {
  border-left: none;
  border-right: none;
}

.welcome-note p,
.welcome-note h1{
  margin-left: 10px;
  margin-right: 10px;
}

.final-text {
  font-size: 3em;
  color: white;
}

.login-form{
  align-items: center;
  margin: 100px auto;
}
