.container {
  width: 30%;
}

.errors {
  display: flex;
  flex-direction: column;
}

.loader {
  font-size: 1.4em;
  letter-spacing: 2px;
  color: grey;
}

.form-group:not(.form-group:first-child) {
  margin-top: 10px;
}

@media screen and (max-width: 760px) {
  .container {
    width: 100%;
  }

  .form-group a {
    text-decoration: none;
  }
}

.welcome-note {
  height: 100vh;
  background-color: #1e88e5;
  padding: 0;
}

.welcome-note h1 {
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  color: white;
}

.show-on-small {
  display: none;
  background-color: #1e88e5;
  margin-bottom: 10px;
  width: 100%;
}
.show-on-small .heading{
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 20px;
  margin-top: -100px;
}
.show-on-small .list-group-item{
  font-size: .8em;
}

@media screen and (max-width: 760px) {
  .container-fluid{
    padding: 0
  }
  form{
    padding-right: 10px;
    padding-left: 10px;
  }
  .show-on-small {
    display: block;
  }

  .welcome-note h1 {
    font-size: 2em;
  }

  .welcome-note .final-text {
    font-size: 1em;
    font-weight: bold;
  }

  .welcome-note .instructions {
    font-size: 1em;
  }

  .welcome-note {
    display: none;
  }
}

.instructions {
  font-size: 1.5em;
  width: 100%;
  margin: 0;
  background-color: red;
}

.instructions .list-group,
.instructions .list-group-item {
  border-left: none;
  border-right: none;
}

.welcome-note p,
.welcome-note h1 {
  margin-left: 10px;
  margin-right: 10px;
}

.final-text {
  font-size: 3em;
  color: white;
}

.login-form {
  align-items: center;
  margin: 100px auto;
}

.form-control {
  border-left: none;
  border-right: none;
  border-top: none;
}

.form-control:focus,
.form-control:active {
  border-color: 0;
  outline: none;
  box-shadow: none;
}