.container {
  width: 30%;
}

.errors{
  display: flex;
  flex-direction: column;
}

.loader{
  font-size: 1.4em;
  letter-spacing: 2px;
  color: grey;
}

.form-group:not(.form-group:first-child){
  margin-top: 10px;
}

@media screen and (max-width: 760px) {
  .container{
    width: 100%;
  }
}
