<div class="labels-list">
  <p class="title">Your Labels</p>
  <p class="text-center btn-new-label">
    <a class="text-muted" (click)="toggleShowForm()">
      <i class="bi bi-plus" *ngIf="!showForm"></i>
      <i class="bi bi-dash-lg" *ngIf="showForm"></i>
    </a>
  </p>
  <div class="label-form" *ngIf="showForm">
    <app-label-form></app-label-form>
  </div>
  <ul class="list-group" *ngIf="(labels$ | async)?.length else noLabels">
    <li class="list-group-item" *ngFor="let label of labels$ | async">
      <app-label [label]="label"></app-label>
    </li>
  </ul>
  <div *ngIf="loading$ | async" class="loader">Loading ...</div>
  <ng-container *ngIf="!(labels$ | async)?.length">
    <ng-container *ngIf="error$ | async as error">
      <app-error-note [error]="error"></app-error-note>
    </ng-container>
  </ng-container>
  <ng-template #noLabels>
    <div class="text-muted text-center">No labels found</div>
  </ng-template>
</div>
