.submit-button{
    text-align: right;
}
.submit-button button{
    border: none;
    background-color: white;
    font-size: 1.5em;
}

.submit-button button:hover{
   font-weight: bold;
   color: #1e88e5;
}

.radio-list{
    margin-top: 10px;
}