<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{listing?.title}}</h5>

    <div *ngIf="tasks$ | async as tasks">
      <div *ngIf="tasks.length else noTasks">
        <ul class="list-group">

          <li class="list-group-item" *ngFor="let task of tasks?.slice(0,3)">

            <app-task [task]="task"></app-task>
          </li>
          <li *ngIf="tasks.length > 3" class="list-group-item more-tasks">
            <a (click)="toggleViewMode()">View {{tasks.length - 3 | number}} more task(s)</a>
          </li>
        </ul>
      </div>
    </div>


    <ng-template #noTasks>
      <p class="text-muted text-center no-tasks">No tasks found</p>
    </ng-template>
    <div class="text-right mt-2 action-buttons">
     <a title="Restore" *ngIf="archived" (click)="updateStatus(1)">
      <i class="bi bi-arrow-up"></i>
     </a>
      <a title="Archive" *ngIf="!archived" (click)="updateStatus(0)">
        <i class="bi bi-archive"></i>
      </a>      
      <a (click)="toggleViewMode()" title="Expand">
        <i class="bi bi-arrows-expand"></i>
      </a>
    </div>
  </div>
</div>
<ng-container *ngIf="listing && inViewMode">
  <app-modal [opened]="true" [title]="listing.title">
    <app-listing-form [listing]="listing"></app-listing-form>
  </app-modal>
</ng-container>