input{
    width: 100%;
    border: 1px solid #cccc;
    outline: none;
    padding-left: 5px;
    border-radius: 0;
    opacity: .8;
    height: 30px;
    border-left: none;
    border-right: none;
}
input:hover{
    border: 1px solid #9E9E9E;
    border-left: none;
    border-right: none;
}